<main role="main">
  <div class="page">
  <!-- 1. Header -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
  <header>
      <h1>Sagar Bhattarai</h1>
      <h2>Sr System Administrator</h2>
      <p>
      <a href="https://github.com/sagar437">github:https://github.com/sagar437 </a>
<li>7+ years of experience working as as Linux/Windows System Administrator in Red Hat Enterprise Linux, SUSE Linux, CentOS,windows server.</li>
<li>AWS Certified Cloud practitioner.</li>
<li>Udacity Certified Cloud DevOps Engineer.</li>
<li>Experienced in setting up AWS, Jenkins, Ansible, Docker and kubernetes.</li>
<li>Experienced in setting up nagios monitoring.</li>
<li>Experienced in using Git, Github and Gitlab.</li>
<li>Experienced in migration from on premise to cloud.Experienced in scripting using bash and python to automate tasks.</li>

</p>
  <!-- 2a. Resume Content -->
  <section class="resume_content">
      <h2>Professional Experience</h2>
      <section>
          <h3>Sr. Network Administrator <span class="time">
            <time datetime="2013-05-20" class="start">2017</time>
            &#8211; Present
            </span></h3>
        <p><strong><!-- http://mathworks.com -->Champlain College</strong> <b>Burlington, VT</b></p>
        <ul>
          <li>Oversee day-to-day operations of cloud based applications like Gsuite and Azure AD.
</li>
          <li>Administer,deploy,upgrade and patch Linux and Windows server.
 </li>
          <li>Successfully migrated JAMF application and databases to cloud based serverless model  from on premise server.
</li>
          <li>Successfully migrated and upgraded the MSSQL database, IIS web server and enterprise application. </li>
          <li>Managing office365 and Azure AD and it's cloud component.
</li><li>Successfully implemented Ad Connect to sync the users from on premise AD to Azure AD.
</li><li>Write powershell script to automate the user administration process in Azure AD.
</li>
          
        </ul>
      </section>
      <section>
          <h3>System Engineer <span class="time">
            <time datetime="2007-05-29" class="start">2016</time> &#8211; 
            <time datetime="2013-05-14" class="end">2017</time>
            </span></h3>
        <p><strong><Clearbearing</strong> <b>Essex, VT</b></p>
        <ul>
        <li> Administration and monitoring of Centos 5.x,6.x,7.x servers and windows 2008,windows SBS and windows 2012 servers.</li>
<li>Patch and upgrade linux and windows server.</li>
<li> Configure nagios to constant monitor network bandwidth,memory usage and hard drive status.</li>
<li>Configure and maintain DHCP server and VPN  servers.</li>
<li>Maintain and optimize the vmware infrastructure for maximum performance and flexibility.</li>
<li>Administered AWS cloud based EC2 instances and migrated on premise servers to AWS.</li>
<li>Used Ansible to configure roles to deploy web servers.</li>
<li>Linux kernel, memory upgrades and swaps area and performed CentOS7.x Kickstart installations.</li>
<li>Create network diagram and proper data flow diagram to help customers recognize their need in terms of infrastructure.</li>
<li>Configured splunk and routed all logs to the splunk.</li>
<li>Provided support by 24x7 shift rotation basis and pager support.</li>
        </ul>
      </section>
      <section>
          <h3>Platform Support Engineer<span class="time">
            <time datetime="2003-10-20" class="start">2015</time>
            &#8211;
            <time datetime="2007-05-29" class="end">2016</time>
            </span></h3>
        <p><strong>Thomson Reuters</strong> <b>New York,NY</b> </p>
        <ul>
        <li> Defined, designed, recommended proactive and reactive solution that effectively return measurable results. </li>
<li>Being a member of the Technical Recovery Team to resolve severe incidents and escalation to Management followed with Post Incident Review of Work Process & Instructions. </li>
<li>Perform user administration using LDAP.</li>
<li>Analyzing & defining problems using tools like Kibana ,Hanu, Splunk and ElasticSearch. </li> <li>Root Cause Analysis and update entries to the Known Error Database.</li>
<li>Performed effective scoping of work, meet goals, collaborate, delegate or escalate to other team as appropriate with minimal oversight or assistance.</li>
<li> Implemented production changes such as application deployments, software upgrades and bug fixes to increase system reliability and performance using tools like nolio, jenkins and rundeck.</li>

        </ul>
      </section>

      <section>
          <h3>System Administrator<span class="time">
            <time datetime="2003-10-20" class="start">2014</time>
            &#8211;
            <time datetime="2007-05-29" class="end">2015</time>
            </span></h3>
        <p><strong>Amplify</strong> <b>New York,NY</b> </p>
        <ul>
        <li>Directly worked with Product lines and developers; support product line releases and troubleshooting issues.</li>
<li>Administered and maintained CentOS and RedHat servers across several environments including Development, Continuous integration, Preprod and Production.</li>
<li>Administered and maintained configuration management system bcfg2 and jenkins to automate the server configurations.</li>
<li>Maintained and updated jenkins servers and slaves.</li>
<li>Used cobbler and kickstart methods to automate the server provisioning.</li>
<li>Used GIT and github to control and maintain version.</li>
<li>Used Vmware to virtualize the environment.</li>
<li>Used 3par storage to provision SAN volumes to the servers.</li>
<li>Monitored servers and applications performance using Nagios, Ganglia, Splunk, PagerDuty and Pingdom.</li>
<li>Practiced Agile, participate and contribute in Scrum activities like standup, retrospective,review and planning using Rally and Jira.</li>

        </ul>
      </section>

      <section>
          <h3>System Administrator<span class="time">
            <time datetime="2003-10-20" class="start">2012</time>
            &#8211;
            <time datetime="2007-05-29" class="end">2014</time>
            </span></h3>
        <p><strong>Centaurus Technology Partners</strong> <b>Trumbull,CT</b> </p>
        <ul>
        <li>Administered, maintained SLES 9,10,11, Red Hat 4.0, 5.0 CentOS 5.3/5.4 troubleshooting hardware, operating system, applications & network problems and performance issues.</li>
        <li>Created users, manage user permissions, maintain User & File System quota on SuSE Linux, Red Hat Linux, CentOS.</li>
        <li>Deployed latest patches for, Linux and Application servers using SuSE Manager and performed Linux Kernel Tuning.</li>

        </ul>
      </section>
      <section>
        <h2>Projects</h2>
        
        <h3>Deployed Flask App to AWS EKS<span class="time">
          <time datetime="2003-10-20" class="start">2019</time>
          &#8211;
          <time datetime="2007-05-29" class="end">2019</time>
          </span></h3>
      <p><strong>Udacity</strong> <b>Online</b> </p>
      <ul>
      <a href="https://github.com/sagar437/kubernetes-ansible-aws"></a>
      <li>Used Docker to containerize the flask application.</li>
<li>Configured AWS Cloudformation template to successfully create the VPC,EC2 instances and kubernetes cluster on Amazon(EKS).</li>
<li>Configured Jenkins server on AWS EC2 using Ansible.</li>
<li>Created Jenkins pipeline to deploy docker image to the kubernetes cluster.</li>
<li>Configured the kubernetes cluster using rolling updates strategy minimizing downtime.</li>
<li>Used git and github to version control the source codes.</li>
      </ul>
      <h3>Operationalized a Machine Learning Microservice API<span class="time">
        <time datetime="2003-10-20" class="start">2019</time>
        &#8211;
        <time datetime="2007-05-29" class="end">2019</time>
        </span></h3>
    <p><strong>Udacity</strong> <b>Online</b> </p>
    <ul>
    <li>Used Docker to containerize pre-trained, sklearn model to predict housing prices in Boston.</li>
    <a href="https://github.com/sagar437/project-ml-microservice-kubernetes"></a>
<li>Configured Kubernetes and created a Kubernetes cluster.</li>
<li>Deployed a container to minikube using Kubernetes and made a prediction.</li>
<li>Used hadolint to check the code.</li>
<li>Configured nginx to proxy the flask application.</li>


    </ul>
      </section>
      <section>
      
  <!-- 2b. Resume Technical Knowledge/Skills -->
  <div class="resume_skills">
    <aside>
        <h2>Software</h2>
        <ul class="technology">
          <li>CentOS </li>
          <li>Linux </li>
          <li>Windows </li>
          <li>Docker </li>
          <li>kubernetes </li>
          <li>python </li>
          <li>Ansible</li>
          <li>nagios </li>
          <li>elk </li>
          <li>DevOps</li>
          <li>SCRUM</li>
        </ul>
      </section>
      <section>
        <h2>Formal Education</h2>
        <h3>St Cloud State University<span class="time">
          <time datetime="2003-05-17">12/2013</time>
          </span></h3>
        <p>Masters in Engineering Management<br /><b>St Cloud, MN</b></p>
        <h3>Tribhuvan University <span class="time">
          <time datetime="2000-05-20">5/2009</time>
          </span></h3>
        <p>Bachelor in Electronics and Telecommunication<b>Kathmandu, Nepal</b></p>
      </section>

      <section>
        <h2>Certifications</h2>
        <h3>Amazon Web Services<span class="time">
          <time datetime="2003-05-17">2019</time>
          </span></h3>
        <p>AWS Certified Cloud Practitioner<br />
        <a href="https://www.certmetrics.com/amazon/public/badge.aspx?i=9&t=c&d=2019-11-06&ci=AWS01128137">Certificate</a>
        <h3>Udacity <span class="time">
          <time datetime="2000-05-20">2019</time>
          </span></h3>
        <p>Cloud DevOps Engineer NanoDegree</p>
        <a href="https://confirm.udacity.com/M5744GKR">Certificate</a>
      </section>
      
    </aside>
  </div>
</header>
  <!-- 3. Contact Information -->
  <footer>
    <div id="hcard-Sagar-Bhattarai" class="vcard">
        <h3>Contact Sagar Bhattarai</h3>
        <p class="adr"><strong>Address:</strong> <a href="https://maps.google.com/maps?q=Burlington,%20VT" title="View on Google Maps" rel="me"><span class="locality">Burlington,VT</span></a></p>
        <p class="tel"><strong><span class="type">Home</span>:</strong> <a href="callto:+18028399375" rel="me">802-839-9375</a></p>
        <p class="email"><strong>Email:</strong> <a href="mailto:sagar437@gmail.com" title="Email Sagar Bhattarai" rel="me">sagar437@gmail.com</a></p>
    </div>
  </footer>
</div>
</main>
